@charset "utf-8";
/* CSS Document */

.copytext{padding:15px 0px;}
.padtopzero{padding-top:0px!important;}
.searchfinal{margin-bottom:10px;}
.headertopbox h5{margin:0px!important;}
.left-text{text-align:left;}
.shadownone{box-shadow:none!important;}
.brdrgray{border:1px solid #e3e3e3;}
.finalgrid .table tr th{ border-bottom:4px solid #6f85bf !important;}
.showdata .select2-container { width: auto !important;}
.select2-container { border: 0 none !important;  padding: 0 !important; width: 100% !important;}
.modal-body  .select2-container {z-index:99999999!important;}
.footer { background: #ffffff none repeat scroll 0 0; border-top: 1px solid #e4e5e7; bottom: -50px; left: 0; padding: 10px 18px;
    position: absolute; right: 0; transition: all 0.4s ease 0s;}
.footer.marleftzero{margin-left:0px!important;}
.page-content{position:relative;}
.iconmegh a { background: rgba(0, 0, 0, 0) url("/images/logo_meghtechnologies.png") no-repeat scroll left 3px;  display: inline-block;
    height: 23px; margin-left: 4px; width: 20px;}
.select2-selection__placehol{width:100%; text-align:left; display:inline-block;}
.main-container{padding-top:20px;}
.main-container .page-content{min-height:800px;}
.right-text{text-align:right;}

.padbtmzero{padding-bottom:0px!important;}
.btnaddicon {
    background: #fff  url("../../images/btn_add.png") no-repeat scroll 8px 9px !important;
    padding-left: 24px; border:1px solid #7e3794 ;  color:#7e3794;
}
.btnaddicon:hover{ color:#7e3794;border:1px solid #b8b8b8;   background: #e6e6e6  url("../../images/btn_add.png") no-repeat scroll 8px 9px !important;}
.dollarsign{ width: 150px;}
.dollarsign input[type="text"]{display: inline-block;}
.dollarsign input.aspNetDisabled[type="text"]{display: inline-block; width:130px!important;}

.btnreseticon {
    background: #427fed  url("../../images/btn_clear.png") no-repeat scroll 8px 10px !important;
    border: 1px solid #427fed  !important;  color: #fff !important;  padding-left: 27px; 
}
.btnreseticon:hover{ background: #4285f4  url("../../images/btn_clear.png") no-repeat scroll 8px 10px !important;
    border: 1px solid #427fed  !important;}
.btncancelicon {
    background: #ed4e2a  url("../../images/btn_cancel.png") no-repeat scroll 8px 10px !important;
    border: 1px solid #ed4e2a  !important;
    padding-left: 24px;  color:#fff;
}
 .btncancelicon:hover{  background: #ef694b  url("../../images/btn_cancel.png") no-repeat scroll 8px 10px !important;}
.btnsaveicon {
    background: #53a93f  url("../../images/btn_save.png") no-repeat scroll 8px 9px !important;
    border: 1px solid #53a93f  !important;
    padding-left: 30px; color:#fff;
}
.btnsaveicon:hover{ background: #53a93f  url("../../images/btn_save.png") no-repeat scroll 8px 9px !important;
    border: 1px solid #53a93f  !important;}
.pagination a{ background-color: #fff; border-color: #ccc; color: #444; margin: 0 -1px 0 0;}
.pagination a, .pagination span {
    background-color: #fff; border: 1px solid #ddd; color: #337ab7; float: left; line-height: 1.42857; margin-left: -1px;
    padding: 6px 12px; position: relative; text-decoration: none;}
.pagination span  {border:0px;  background-color: #2dc3e8; border-color: #2dc3e8;  color: #fff; text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);}
.pagination{float:right;}
.paginationGrid  td span{padding-top:8px!important;}
input[type="checkbox"]:checked ~ .text::before, input[type="radio"]:checked ~ .text::before{border-color:#ccc;}
.select2-container--default .select2-selection--single .select2-selection__rendered{text-align:left;}
.rightalign{text-align:right;}
/*.searchfinal .btn{padding:6px 10px!important;}*/

.btnsearchicon {background: #3498db url("../../images/icon_btnsearch.png") no-repeat scroll 8px 9px !important; border: 1px solid #3498db !important; padding-left: 24px!important;}
.contacticonedit { float: right; height:15px;}
.btneditmain { display: inline; margin-left: 5px;}
table.table tr td, table.table tr th { overflow: hidden; white-space: nowrap;}
.GridviewScrollItem tr td span { white-space: nowrap;}
.name2 { float: left;  width: 65%;}
.clear{clear:both;}
/*ul.sidebar-menu{overflow:visible!important;}*/
/*=================multi checkbox dropdown===================*/
.dropdown dd, .dropdown dt {  margin: 0px;  padding: 0px; width: 250px; word-break: normal;  white-space: nowrap;}
.dropdown ul{ margin: -1px 0 0 0; z-index: 999999!important; position: absolute; background: #fff;}
dl.dropdown{ margin-bottom: 0px!important;}
.dropdown dd{ position: relative;}
.dropdown a,.dropdown a:visited{ text-decoration: none; outline: none; font-size: 12px;}
.dropdown dt a{ background: #fff url(../images/select_img.jpg) no-repeat right 6px;  display: block; padding: 0px 20px 0px 10px; min-height:26px;
    line-height:26px; border-radius:0px!important; overflow: hidden; border: 0; width: 250px; border: 1px solid #d5d5d5; font-weight: normal;
	text-align:left;}
.showdata .select2-container .select2-choice{height:28px; line-height:28px;}
.searchfinal .showdata{padding-top:5px!important;}
.dropdown p{    margin: 0px!important; padding: 0px!important;}
.dropdown dt a span, .multiSel span{ cursor: pointer; display: inline-block; padding: 0 3px 2px 0; color: #788288;}
.dropdown dd ul{ background-color: #fff; border: 0; color: #000; display: none; left: 0px; padding: 2px 15px 2px 4px;  position: absolute;
    top: 2px;  width: 250px; list-style: none;  height: 200px; z-index: 99999; overflow: auto; font-size: 13px;  border: 1px solid #5897fb;
}
.wdth100{width:95%!important;}
.contactbrmbtm ul{ border-left: 1px solid #5897fb; border-right: 1px solid #5897fb; border-bottom: 1px solid #5897fb;
    margin-top: -52px!important;}
.ulborder ul{ border-left: 1px solid #5897fb; border-right: 1px solid #5897fb; border-bottom: 1px solid #5897fb; margin-top: -52px!important;
}
.dropdown dd ul li input[type="checkbox"]{ float: left; margin-right: 5px;}
.dropdown span.value{ display: none;}
.dropdown dd ul li a{ padding: 5px; display: block;}
.dropdown dd ul li a:hover {background-color: #fff; }
.multiselect .dropdown dd, .multiselect .dropdown dt, .multiselect .dropdown dd ul{width:100%;}
 .multiselect .dropdown dt a { width:100%;}
.mutliSelect ul li label.chkval{width: 150px; text-align: left;font-weight: normal; color: #333;}
.tdspecialclass div{display:inline-block;}
.ajax__tab_xp .ajax__tab_header .ajax__tab_outer{ height: 36px !important; padding-right: 4px; padding-top: 3px;}
.ajax__tab_xp .ajax__tab_header{height:35px!important; background-color: #eee;
    border: 0 none;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.3);
    margin-bottom: 0;
    margin-left: 0;
    top: 2px;}
.martop5 { margin-top: 5px;}
.inlineblock{width:100%; display:inline-block;}
.btnexelicon {  margin-top: 7px;}
.datashowbox{margin-top:15px;}
.datashowbox a.btn-success, .showdatabox a.btn-success{margin-top:8px;}
.tdspecialclass span a {  float: left !important;}
.floatnone{float:none!important;}
.printicon { float: right; font-size: 18px; margin-left: 5px; color:#000;}
.excelicon{margin-top:4px; float:left;}
.finaladdupdate input[type="text"], .finaladdupdate input[type="password"], .finaladdupdate .select2-container, .finaladdupdate .form-control{max-width:256px;}
.finaladdupdate .companyddform input[type="text"], .finaladdupdate .companyddform input[type="password"], .finaladdupdate .companyddform .select2-container, .finaladdupdate .companyddform textarea{max-width:100%!important;}
.finaladdupdate .companyddform .select2-container{width:100%!important;}

.navbar .navbar-inner .navbar-header .navbar-account .account-area > li .dropdown-menu{min-width:185px!important;}
.searchfinal .form-control {  font-size: 12px; height: 30px;  line-height: 1.5; padding: 5px 10px;}
.searchfinal select ,.searchfinal .select2-container .select2-selection--single, .searchfinal .select2-container--default .select2-selection--single .select2-selection__rendered,
.datashowbox .select2-container .select2-selection--single, .datashowbox .select2-container--default .select2-selection--single .select2-selection__rendered ,
.tablegridselect .select2-container .select2-selection--single, .tablegridselect  .select2-container--default .select2-selection--single .select2-selection__rendered 
{ height: 30px!important; line-height: 27px!important;}
.searchfinal .btn{padding:5px 10px;}
.paginationnew1 table.table-bordered, .paginationnew1 table.table-bordered td{border-top:0px!important; background:#f2f2f2;}
.loading-container {z-index: 2000;position: fixed;top: 0;left: 0;right: 0;bottom: 0; background:url(../img/white_trans.png) repeat left top!important;
}
.breadcrumb{margin-right:0px;}
.modal-header{border-bottom:3px solid #1bb3d9;}
.select2-container--default .select2-selection--single .select2-selection__arrow {  height: 30px;  line-height: 17px !important; position: absolute;
    right: 2px; top: -2px;  width: 20px;}
.well .header h4{margin-bottom:0px; font-size:15px;}
.aspNetDisabled{padding-left:15px;width:100%;}
.editinvoicebox .aspNetDisabled{padding-left:0px;width:100%;}
.invoicebox .aspNetDisabled{padding-left:0px!important;}
.marginbtm15{margin-bottom:15px;}
.marginbtm17 {margin-bottom:7px;}
.disnone{display:none;}
.widget-body, .well{background:#fff!important;}
.leadtracker .select2-container .select2-selection--single{height:25px!important;}
.leadtracker .select2-container--default .select2-selection--single .select2-selection__rendered{line-height:20px;}
.page-body.headertopbox{padding:18px 20px 10px!important;}
.padallzero{padding:0px!important;}
.marbtm15{margin-bottom:10px!important;}
.martop7{margin-top:6px!important;}
.marbtm5{margin-bottom:5px!important;}
.marleft8{margin-left:8px}
input.aspNetDisabled[type="text"] {
    background-color: #eee;
    border: 1px solid #e4e5e7;
    border-radius: 4px;
    display: block;
    /*font-size: 14px;
    height: 34px;*/
    line-height: 1.42857;
    opacity: 1;
    padding: 6px 12px!important;
    transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
    width: 100%;
}
.alert{margin-bottom:10px;}
.padrightzero{padding-right:0px;}
table.stockitem {  margin-top: 15px;}
table.stockitem tr th { border-bottom: 3px solid #ccc; color: #6a6c6f; font-size: 15px; padding: 10px 0;}
table.stockitem tr td { color: #6a6c6f; font-size: 14px; padding: 5px 0; vertical-align: top;}
table.stockitem tr { border-bottom: 1px solid #ccc;}
table.stockitem tr table tr { border-bottom: 0 none;}
.stocktransfer h1, .stocktransfer h2{margin-top:0px;}
.form-control, select{position:relative; z-index:5;}
.autocompletedrop, .autocomplete_completionListElement{margin-top:-2px!important; margin-left:2px;}
.btnviewnotes{background:url(../../images/btnviewnotes.jpg) no-repeat left top; width:128px; height:34px; border:0px; font-size:0px;}
/****************** tab ****************/
.ajax__tab_xp .ajax__tab_header{ padding-left: 0px; font-size: 12px!important; background:#f2f2f2!important;}
.ajax__tab_inner, .ajax__tab_tab, .ajax__tab_outer{ background: none !important;/*background: #EBEDF1 !important; */ padding: 0px 10px 0px 10px;    color: #595959;}
.ajax__tab_active .ajax__tab_inner, .ajax__tab_active .ajax__tab_tab, .ajax__tab_active .ajax__tab_outer{
    background: none !important;  background: #ffffff !important; color: #000000;}
.ajax__tab_hover .ajax__tab_inner, .ajax__tab_hover .ajax__tab_tab, .ajax__tab_hover .ajax__tab_outer{ background: none !important;
    background: #fafafa !important;  color: #000;}
.ajax__tab_xp .ajax__tab_tab{ height: 20px !important; line-height: 16px;}
.ajax__tab_tab{ margin-top: 10px;}
.ajax__tab_xp .ajax__tab_outer{ height: 30px!important; border-top: 0px solid #cccccc; margin-right: -1px; color:#909090!important;}
.ajax__tab_xp .ajax__tab_body{ padding: 8px 15px!important;border: #cccccc solid 0px!important; border-top: none!important; min-height:300px!important; border-top:0px solid #cccccc!important; background-color: #fbfbfb!important;
    box-shadow: 1px 0 10px 1px rgba(0, 0, 0, 0.3)!important;
    padding: 16px 12px!important;
    position: relative!important;
}

.ajax__tab_xp .ajax__tab_inner
{
    background: none!important;
}
.ajax__tab_xp .ajax__tab_header .ajax__tab_hover, .ajax__tab_xp .ajax__tab_header .ajax__tab_hover .ajax_tab_outer{background:none!important;}
.ajax__tab_xp .ajax__tab_header .ajax__tab_active{position:relative; z-index:5;}
.ajax__tab_xp .ajax__tab_header .ajax__tab_active .ajax__tab_tab
{
    outline: none!important;
}

.ajax__tab_xp .ajax__tab_header .ajax__tab_outer
{
    border-bottom: #cccccc solid 0px; position:relative; z-index:1; background:none!important;
}
.ajax__tab_xp .ajax__tab_header .ajax__tab_tab{background:none!important;}

.ajax__tab_xp .ajax__tab_header .ajax__tab_active .ajax__tab_outer
{
    border-bottom: none; background:#fff!important; border-top:2px solid #2dc3e8!important;
}
.ajax__tab_panel .messesgarea, .ajax__tab_panel{margin-top:15px; margin-bottom:15px;}
.searchfinal .showdata .select2-search--dropdown{display:none!important;}
.navbar.navbar-fixed-top {
    z-index: 997;
}
.page-sidebar.sidebar-fixed{z-index:996;}
.modal_popup {
  z-index:999!important;
}
.modalbackground{  background-color: rgba(54, 54, 54, 0.5);
    height: 100%;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index:998!important;}
.modal-body .radio{padding-left:0px!important;}
.name .control-label{margin-bottom:5px; display:inline-block;}
input[type="checkbox"], input[type="radio"]{display:none;}
.myweek {
    display: inline-block;
    float: right;
}
.myweek li {
    border: 1px solid #e6e6e6;
    float: left;
    list-style: outside none none;
    padding: 5px;
}
.myweek li a {
    display: block;
    height: 19px;
    padding: 0 4px;
}
.teamcalendar tr td {
    padding: 6px 4px !important;
}
.selectboxman {
    float: left;
    width: 85%;
}
.usericonbox {
    float: left;
    padding: 6px;
    width: 14%;
}
.date {
    position: relative;
}
.amtvaluebox {
    background: #eeeeee none repeat scroll 0 0;
    border: 1px solid #ccc;
    border-radius: 3px;
    display: block;
    height: 33px;
    padding: 6px 10px;
    width: 150px;
}
.stockusage {
    border: 1px solid #ccc;
    float: left;
    margin-right: 50px;
    min-height: 50px;
    padding: 10px;
}
.panel-heading {
    border-bottom: 1px solid transparent;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    padding: 10px 15px 25px;
}
.disblock{display:block;}
.marginbtm10{margin-bottom:10px!important;}
.fullspan .aspNetDisabled{padding-left:0px!important;}
.divall .form-group span {
    width: 150px !important;
}
.divfirst .form-group span.name {
    float: left;
}
.divsecond {
    float: left;
    width: 50%;
}
.form-group span.name {
    display: block; text-align:left;
}
.invoicenum{width:100%; text-align:left; display:inline-block;}
.form-group {
    margin-bottom: 15px;
}
.varitionsmain .divfirst {
    width: 58% !important;
}
.divfirst {
    float: left;
    width: 30%;
}
.varitionsmain .divsecond {
    width: 38% !important;
}
.varitionsmain .divsecond {
    width: 38% !important;
}
.divsecond {
    float: left;
    width: 50%;
}
.companytab .btn-maroon{float:right; margin-left:4px;}
.checkbox-info .fistname span.text{width:auto!important;}
.newtexbox input[type="text"] {
    display: inline-block;
    width: 60px !important;
}
.grayboxmain{background:#ffffff; padding:15px; border:1px solid #ccc;}
.valuebox{background: #e5e5e5 none repeat scroll 0 0; display: inline-block; padding: 9px 10px; width: 100%; min-height:37px;}
.name span.control-label {
    display: inline-block;
    margin-bottom: 5px !important;
}
.projectquote .aspNetDisabled{height:auto!important;}
.proinstdate .btneditinvoice{padding-top:25px!important;}
.elecpage .dateimgarea .dateimg input[type="text"] {
    display: inline-block;
}
.btninstallation{background:url(../../images/btn_installation.png) no-repeat left top!important; width:162px; height:32px; border:0px; font-size:0px;}
.btnpicklist{background:url(../../images/btn_picklist.png) no-repeat left top!important; width:107px; height:32px; border:0px; font-size:0px;}
.btneditinvoice{background:url(../../images/btn_editinvoice.png) no-repeat left top!important; width:127px; height:32px; border:0px; font-size:0px;}

.createinvoice{background:url(../../images/btn_createinvoice.png) no-repeat left top!important; width:145px; height:32px; border:0px; font-size:0px;}

.openinvoice{background:url(../../images/btn_openinvoice.png) no-repeat left top!important; width:135px; height:32px; border:0px; font-size:0px;}

.borderone{border:1px solid #ccc;}
.padleftzero{padding-left:0px!important;}

.datevalidation{position:relative;}
.datevalidation .datecmp{position:absolute; left:0px; top:35px; width:100%;}
.center-text{text-align:center!important;}
.doller {  display: inline-block;}
.popheadclosebtn{width:100px; float:right;}
.marright15{margin-right:15px;}
.modal-body .PanAddUpdate .name{width:100%; display:block;}
.loading-container.loading-inactive .loader{display:block!important;}
.errormassage{color:#F00; border:1px solid #F00!important;}
.greenborder{color:#060; border:1px solid #060!important;}
.fileuploadmain .btn-default{background:none!important; border:0px!important; color:#fff!important; padding:0px!important;}

.dropdown dd ul li input[type="checkbox"] { display: block !important; float: left;  left: 0; margin-right: 5px; opacity: 1 !important; position: relative;}
textarea, input[type="text"], input[type="password"], input[type="datetime"], input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="email"], input[type="url"], input[type="search"], input[type="tel"], input[type="color"]{background-color:#fff;}
.paginationGrid td{background:#f5f5f5!important;}
.autocompletedrop, .autocomplete_completionListElement{background:#fff; border:1px solid #ccc; max-height:200px; overflow:auto; margin:0px; padding:0px 0px 0px 20px;}
.autocompletedrop li, .autocomplete_completionListElement li{margin:0px 0px 5px; padding:0px; list-style-type:none;}
.btnarrowbox{  font-size: 20px; line-height: 16px; padding: 0 8px;}
.arrowbutton{  display: inline-block; float: left; padding-top: 5px; margin-right:10px;}
.finaladdupdate .stockorder .select2-container, .finaladdupdate .stockorder input[type="text"], .finaladdupdate .stockorder .form-control{max-width:100%!important;}
.searchfinal input[type="checkbox"] ~ .text, .searchfinal input[type="radio"] ~ .text {
    display: inline-block;
    font-weight: normal;
    line-height: 20px;
    margin: 0;
    min-height: 18px;
    min-width: 18px;
    position: relative;
    z-index: 11;
}

.searchfinal .btn-magenta input[type="checkbox"] ~ .text, .searchfinal .btn-magenta input[type="radio"] ~ .text {
    display: inline-block;
    font-weight: normal;
    line-height: 20px;
    margin: 0;
    min-height: 18px;
    min-width: 18px;
    position: relative;
    z-index: 11;
}

.searchfinal input[type="checkbox"]:checked ~ .text::before, .searchfinal input[type="radio"]:checked ~ .text::before {
    background-color: #ed4e2a;
    border-color: #fff;
    content: "";
    display: inline-block;
}

.searchfinal .btn-magenta input[type="checkbox"]:checked ~ .text::before, .searchfinal .btn-magenta input[type="radio"]:checked ~ .text::before {
    background-color: #bc5679;
    border-color: #fff;
    content: "";
    display: inline-block;
}
 .searchfinal input[type="checkbox"] ~ .text::before, .searchfinal input[type="radio"] ~ .text::before {
    background-color: #ed4e2a;
    border: 1px solid #fff;
    border-radius: 0;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
    color: #fff;
    content: " ";
    display: inline-block;
    font-family: fontAwesome;
    font-size: 11px;
    font-weight: bold;
    height: 12px;
    line-height: 10px;
    margin-bottom: 2px;
    margin-right: 5px;
    min-width: 12px;
    text-align: center;
    transition: all 0.3s ease 0s;
    vertical-align: middle;
}
 .searchfinal .btn-magenta input[type="checkbox"] ~ .text::before, .searchfinal .btn-magenta input[type="radio"] ~ .text::before {
    background-color: #bc5679;
    border: 1px solid #fff;
    border-radius: 0;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
    color: #fff;
    content: " ";
    display: inline-block;
    font-family: fontAwesome;
    font-size: 11px;
    font-weight: bold;
    height: 12px;
    line-height: 10px;
    margin-bottom: 2px;
    margin-right: 5px;
    min-width: 12px;
    text-align: center;
    transition: all 0.3s ease 0s;
    vertical-align: middle;
}
.btn-success, .btn-success:focus{color: #fff!important;}
.showdata .select2-container{width:118px!important;}
.searchfinal .btnviewallorange  .btn {padding:4px 10px 4px!important;}

.finalgrid .stockusage .table tr th{border-bottom:0px!important;}
.z_index_loader{z-index: 998 !important;}
.postinstbox .statuspopup{margin-top:24px;}
.marleft10{margin-left:10px!important;}
.page-sidebar .sidebar-menu li::before {
    background-color: #2dc3e8;
    bottom: 0;
    content: "";
    display: none;
    left: -4px;
    max-width: 4px;
    overflow: hidden;
    position: absolute;
    top: 0;
    width: 4px;
}
.page-sidebar .sidebar-menu li:hover:note(.open)::before {
    background-color: #000!important;
    bottom: 0;
    content: "";
    display:block;
    left: -4px;
    max-width: 4px;
    overflow: hidden;
    position: absolute;
    top: 0;
    width: 4px;
}

@media screen and (min-width:1600px){
	.main-container .page-content{min-height:1000px;}
	}
	

@media print{
	  #wrapper{min-height:100px!important; margin-left:0px!important;}
	.tableprint tr td{padding:0px!important;}
	.paginationGrid{display:none;}
	.rooftype{width:100%; border:1px solid #000;}
	.printorder{display:none;}
		.page-content{margin-left:0px!important;}
		.animate-panel{display:none;}
.setting-container{display:none;}
	}

.searchfinal .showdata.padtopzero{padding-top:0px!important;}
.width60px{width:60%; display:inline-block; }
.wdth200{width:300px!important;}
.wdth211{width:211px!important;}
.wdth230{width:230px!important;}
.dollarsign input.aspNetDisabled[type="text"].wdth230{width:230px!important;}
.wdth210{width:210px!important;}
.wdth190{width:190px!important;}
.martopzero{margin-top:0px!important;}
textarea, input[type="text"], input[type="password"], input[type="datetime"], input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="email"], input[type="url"], input[type="search"], input[type="tel"], input[type="color"]{color:#333!important;}
.form-control::-moz-placeholder {
    color: #333;
    opacity: 1;
}
.form-control::-webkit-input-placeholder {
       color: #333;
    opacity: 1;
}
.form-control:-ms-input-placeholder { color: #333;
    opacity: 1;}