
.proceedings_table1 tbody tr td input{ border:none!important; box-shadow:none;}
.btn_area{ display:none!important;}
.file-input-wrapper{ display:none;}
.file-input-name{ display:block;}
.col-md-4{ width:48%; float:left;}
